# Logs
logs
*.log
npm-debug.log*

# Compiled binary
client/build

# Dependency directories
server/node_modules/
client/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
server/.env*
server/.env.development.local*
server/.env.production.local*
server/.env.local*

client/.env*
client/.env.development.local*
client/.env.production.local*
client/.env.local*
