.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 60px); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card.notification {
  width: 320px;
  background-color: #fff;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.card.success p {
  color: green;
  margin: 0;
}
.card.error p {
  color: red;
  margin: 0;
}

.card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 10px;
}
.input__group label {
  /* margin-bottom: 5px; */
  padding-bottom: 5px;
  width: 100%;
}

.input__group input {
  margin-bottom: 0;
}

/* h2 {
  color: #007bff;
  margin-bottom: 20px;
} */

.login-form {
  display: flex;
  flex-direction: column;
}

.loginform__label {
  padding-bottom: 5px;
}

.loginform__error_label {
  padding-top: 5px;
  color:red;
  font-size: 0.7em;
}
/* input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
} */

/* button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

.switch {
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #007bff;
  text-decoration: none;
}
