.filelist {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding-bottom: 100px;
}

.filelist.margin_on_fixed_buttons {
  padding-top: 46px;
}

.files__notfound {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.6em;
  text-align: center;
}

@media screen and (max-width: 1650px) {
  .filelist {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 1450px) {
  .filelist {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1250px) {
  .filelist {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
  }
}

@media screen and (max-width: 950px) {
  .filelist {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .filelist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .filelist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .filelist.margin_on_fixed_buttons {
    padding-top: 36px;
  }
}

@media screen and (max-width: 340px) {
  .filelist {
    grid-template-columns: repeat(1, 1fr);
  }
}
